// basic colors
$white: #ffffff;
$black: #000000;

// primary colors
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;

// secondary colors
$gray: #808080;
$gray-27: #454545;
$very-dark-gray: #2f2f2f;

$whitesmoke: #f3f3f3;
$darkgray: #282828;
$boston-university-red: #cc0000;

// site variables
$primary-background: $darkgray;
$primary-text: $whitesmoke;
$secondary-highlight: $boston-university-red;

// fonts
$primary-font: 'Fira Sans', sans-serif;
$branding-font: 'Marvel', sans-serif;
